@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Encode Sans", sans-serif !important;
}

.deco a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}

main {
  min-height: 750px;
}

.card-title {
  text-align: center;
  padding-top: 1%;
}

.card-body {
  text-align: center;
}

label {
  margin-left: 2%;
}

.card-mine-1,
.card-mine-2,
.card-mine-3,
.card-mine-4,
.card-mine-5,
.card-mine-6,
.card-mine-7,
.card-mine-8,
.card-mine-9 {
  aspect-ratio: 1/0.7;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
.card-mine-1 .image-box,
.card-mine-2 .image-box,
.card-mine-3 .image-box,
.card-mine-4 .image-box,
.card-mine-5 .image-box,
.card-mine-6 .image-box,
.card-mine-7 .image-box,
.card-mine-8 .image-box,
.card-mine-9 .image-box {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.card-mine-1 .image-box img,
.card-mine-2 .image-box img,
.card-mine-3 .image-box img,
.card-mine-4 .image-box img,
.card-mine-5 .image-box img,
.card-mine-6 .image-box img,
.card-mine-7 .image-box img,
.card-mine-8 .image-box img,
.card-mine-9 .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 1440px) {
  .card-mine-1::after,
  .card-mine-2::after,
  .card-mine-3::after,
  .card-mine-4::after,
  .card-mine-5::after,
  .card-mine-6::after,
  .card-mine-7::after,
  .card-mine-8::after,
  .card-mine-9::after {
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
    color: white;
  }
  .card-mine-1:hover img,
  .card-mine-2:hover img,
  .card-mine-3:hover img,
  .card-mine-4:hover img,
  .card-mine-5:hover img,
  .card-mine-6:hover img,
  .card-mine-7:hover img,
  .card-mine-8:hover img,
  .card-mine-9:hover img {
    filter: grayscale(1) brightness(0.4);
  }
  .card-mine-1:hover::after,
  .card-mine-2:hover::after,
  .card-mine-3:hover::after,
  .card-mine-4:hover::after,
  .card-mine-5:hover::after,
  .card-mine-6:hover::after,
  .card-mine-7:hover::after,
  .card-mine-8:hover::after,
  .card-mine-9:hover::after {
    opacity: 1;
    inset: 20px;
  }
  .card-mine-1::after,
  .card-mine-2::after,
  .card-mine-3::after,
  .card-mine-4::after,
  .card-mine-5::after,
  .card-mine-6::after,
  .card-mine-7::after,
  .card-mine-8::after,
  .card-mine-9::after {
    content: "Precio: \a$300 ";
    text-align: center;
    padding: 20%;
    white-space: pre;
    display: block;
    justify-content: safe;
  }
}
@media screen and (min-width: 1440px) {
  .card-mine-1::after,
  .card-mine-2::after,
  .card-mine-3::after,
  .card-mine-4::after,
  .card-mine-5::after,
  .card-mine-6::after,
  .card-mine-7::after,
  .card-mine-8::after,
  .card-mine-9::after {
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
    color: white;
  }
  .card-mine-1:hover img,
  .card-mine-2:hover img,
  .card-mine-3:hover img,
  .card-mine-4:hover img,
  .card-mine-5:hover img,
  .card-mine-6:hover img,
  .card-mine-7:hover img,
  .card-mine-8:hover img,
  .card-mine-9:hover img {
    filter: grayscale(1) brightness(0.4);
  }
  .card-mine-1:hover::after,
  .card-mine-2:hover::after,
  .card-mine-3:hover::after,
  .card-mine-4:hover::after,
  .card-mine-5:hover::after,
  .card-mine-6:hover::after,
  .card-mine-7:hover::after,
  .card-mine-8:hover::after,
  .card-mine-9:hover::after {
    opacity: 1;
    inset: 20px;
  }
  .card-mine-1::after {
    content: "✨ Pintado con barniz poliuretánico.\a💡 Lámpara de 25w (Filamento de Carbono)\a📏 Diámetro de la lámpara: 12cm\a♻ Realizado en madera recuperada.\a🔌 Cable textil a elección (consultar colores disponibles).\a🔛 Tecla en cable\a\aPrecio:\a$300";
    text-align: center;
    padding-top: 20%;
    white-space: pre;
    display: block;
    justify-content: safe;
  }
  .card-mine-2::after {
    content: "✨ Pintado con Cetol (apto exteriores)\a♻ Realizado en madera recuperada.\a🌱 Podes decorar cualquier\a ambiente usando las latas que más \ate gusten como macetas\a🔢 Disponibles para 4, 5 y 6 latas.\a🔩 Incluye tornillos y tarugos.\a\aPrecio:\a$300";
    text-align: center;
    padding: 20%;
    white-space: pre;
    display: block;
    justify-content: safe;
  }
  .card-mine-3::after {
    content: "🌡Luz Neutra (no cansa la vista)\a♻ Maderas: Pino, Nogal, Ébano y Wengue\a🔌 Consumo: 5w\a✨Terminación: Aceite de Tung\a📏 Altura (en posición vertical): 41cm\a\aPrecio:\a$300";
    text-align: center;
    padding: 20%;
    white-space: pre;
    display: block;
    justify-content: safe;
  }
  .card-mine-4::after {
    content: "✨ Pintados con barniz poliuretánico.\a🍺 Herraje de excelente calidad.\a♻ Realizado en madera recuperada.\a📏 28cm x 11cm.\a♻Imán de neodimio, fuertísimo!\a🔩 Incluye tarugo y tornillo.\a\aPrecio:\a$300";
    text-align: center;
    padding: 20%;
    white-space: pre;
    display: block;
    justify-content: safe;
  }
  .card-mine-5::after {
    content: "✨ Pintados con barniz poliuretánico.\a🍺 Herraje de excelente calidad.\a♻ Realizado en madera recuperada.\a📏 28cm x 11cm.\a♻Imán de neodimio, fuertísimo!\a🔩 Incluye tarugo y tornillo.\a\aPrecio:\a$300";
    text-align: center;
    padding: 20%;
    white-space: pre;
    display: block;
    justify-content: safe;
  }
  .card-mine-6::after {
    content: "✨ Pintados con barniz poliuretánico.\a🍺 Herraje de excelente calidad.\a♻ Realizado en madera recuperada.\a📏 28cm x 11cm.\a♻Imán de neodimio, fuertísimo!\a🔩 Incluye tarugo y tornillo.\a\aPrecio:\a$300";
    text-align: center;
    padding: 20%;
    white-space: pre;
    display: block;
    justify-content: safe;
  }
  .card-mine-7::after {
    content: "\a📏 85cm x 40cm x 15cm (Cerrado)\a⤵️ Profundidad del escritorio abierto: 50cm \a✨ Terminación en barniz poliuretanico\a  mate y brillante.\a♻Imán de neodimio, fuertísimo!\a♻ Realizado en madera recuperada.\a\aPrecio:\a$300";
    text-align: center;
    padding: 20%;
    white-space: pre;
    display: block;
    justify-content: safe;
  }
  .card-mine-8::after {
    content: "📏 35cm x 35cm x 50cm.\a📦 Cajon con corredera telescópica  \a📦 Sale todo el cajón\a✨ Terminación en barniz MATE poliuretanico \a🛠️ Construida con madera de pallets \a desarmados, cepillados, y lijados. \a🌳 Tapa de cajón en Eucalipto.\a\aPrecio:\a$300";
    text-align: center;
    padding: 20%;
    white-space: pre;
    display: block;
    justify-content: safe;
  }
  .card-mine-9::after {
    content: "📏 120cm x 48cm x 42cm \a👆 Altura con mesa elevada: 58cm \a📦 Cajón lateral extraíble. \a✨ Terminación en barniz poliuretanico\a🛠️ Pallets desarmados, cepillados, y lijados. \a🌳 Tabla superior de Eucalipto. \a\aPrecio:\a$300";
    text-align: center;
    padding: 20%;
    white-space: pre;
    display: block;
    justify-content: safe;
  }
}
#passwordHelpBlock a {
  text-decoration: none;
  color: grey;
  font-weight: 300;
}

.filterprice {
  width: 225px !important;
}

input[type=checkbox] {
  border-color: grey !important;
}
input[type=checkbox]:checked {
  background-color: black;
  border-color: grey !important;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: black;
  border-radius: 100px;
}

#cart-img {
  height: 24px;
}
#cart-img:hover {
  cursor: pointer;
}

#cart-container {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1000;
  width: 300px;
}
#cart-container h4 {
  color: black;
}

#cart-list {
  list-style-type: none;
  color: black;
  padding: 0;
  margin: 0;
}

#cart-list li {
  padding: 5px 0;
}

#finalize-purchase {
  margin-top: 10px;
  width: 100%;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 10px;
}

#clear-cart {
  margin-top: 10px;
  width: 100%;
  background-color: rgb(114, 9, 9);
  color: white;
  border: 1px rgb(114, 9, 9);
  padding: 10px;
}

#finalize-purchase.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

#total-amount {
  color: black;
}

#purchaseDetails {
  white-space: pre-line; /* Permite el renderizado de saltos de línea en el texto */
}

#confirmPurchaseButton {
  background-color: black;
  border: 1px solid black;
}

/*# sourceMappingURL=main.css.map */
